
.title {
    
    position: relative;
    top: 0px;
    left: -100px;
}
.title h1 {
    position: relative;
    top: -80px;
    right: -60px;
    font-family: lexend;
}

.orange {
    position: relative;
    top: -20px;

}
.green {
    position: relative;
    top: -15px;
    left: -30px;
}
.start {
position: absolute;
top: 0;
right: 0;
margin-right: 0;
}

.navlinks {
    position: absolute;
    top: 0;
    right: 0;
}
.navlinks ul {
    position: absolute;
    top: 0;
    display: flex;
}
.navlinks ul li {
    margin: 20px;
    list-style: none;
    
}
.navlinks ul li a {
    list-style: none;
    text-decoration: none;
    color: white;
}

.navlink-1 {
    border-radius: 25px 25px 25px 25px;
    border: solid white;
    background-color: transparent;
    padding: 20px;
    font-family: lexend;
    
}
.navlink-1:hover {
    background-color: aliceblue;
    color: black;
}
.navlink-2 {
    border-radius: 25px 25px 25px 25px;
    border: solid white;
    background-color: transparent;
    padding: 20px;
    font-family: lexend;
    
}
.navlink-2:hover {
    background-color: aliceblue;
    color: black;
}
.navlink-3 {
    border-radius: 25px 25px 25px 25px;
    border: solid white ;
    background-color: transparent;
    padding: 20px;
    font-family: lexend;
}
.navlink-3:hover {
    background-color: aliceblue;
    color: black;
}
.navlink-4 {
    border-radius: 25px 25px 25px 25px;
    border: solid white;
    background-color:  #D1FAE5;
    padding: 20px;
    font-family: lexend;
    color: #047857;
}
.navlink-4:hover {
    background-color: white;
    color: black;
}
.title {
    position: relative;
    margin-top: 100px;
    margin-left: 200px;
}
.container {
    width: min(90%, 1000px);
    border: 3px solid pink;
}
@media screen and (max-width: 468px) {
    .start {
       max-width: 10%,20px;
    }
    .navlinks {
        max-width: 10%,20px;
    }
    .title {
        max-width: 10%,2S0px;

    }
    body {
        background-color: red;
        background-image: radial-gradient(whitesmoke, red;
    
    }
    
    
}